<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" th:href="@{/favicon.ico}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" th:href="@{/logo192.png}" />
    <link rel="manifest" th:href="@{/manifest.json}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}" />
    <link rel="manifest" th:href="@{/site.webmanifest}" />
    <link rel="mask-icon" th:href="@{/safari-pinned-tab.svg}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Base Beauty</title>
    <script defer="defer" th:src="@{/static/js/main.0167355d.js}"></script>
    <link href="@{/static/css/main.8774de02.css}" rel="stylesheet" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
