<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
  <h1 class="title">Login</h1>
  <div class="card">
    <form method="post" th:action="@{/login}" th:object="${loginRequest}">
      <input type="email" name="customerEmail" placeholder="Email">
      <input type="password" name="customerPassword" placeholder="Password">
      <div class="buttons">
        <a href="/register" class="register-link">Register</a>
        <button type="submit" class="login-button">Login</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>