<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">
    <h1 class="title">Login</h1>
    <div class="card">
        <form method="POST" th:action="@{/register}" th:object="${registerRequest}">
            <input type="email" name="customerEmail" placeholder="Email">
            <input type="password" name="customerPassword" placeholder="Password">
            <input type="text" name="customerFirstName" placeholder="FirstName">
            <input type="text" name="customertLastName" placeholder="LastName">
            <input type="tel" name="customerPhoneNumber" placeholder="PhoneNumber">
            <div class="buttons">
                <a href="/login" class="register-link">Login</a>
                <button type="submit" class="register-button">Register</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>