<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reservation Success</title>
</head>
<body>
<div class="container">
  <h1 class="title">Reservation Success</h1>
  <div class="card">
    <p>Your reservation has been successfully submitted.</p>

    <p>Reservation Date: <span th:text="${reservationDate}"></span></p>
    <p>Reservation Time: <span th:text="${reservationTime}"></span></p>
    <p>Expert Name: <span th:text="${expertName}"></span></p>
    <p>Expert Service Area: <span th:text="${expertServiceArea}"></span></p>
    <p>Description: <span th:text="${description}"></span></p>

    <a href="/reservation/form">Modify your reservation</a>
  </div>
</div>
</body>
</html>