<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reservation Success</title>
</head>
<body>
<div class="container">
  <h1 class="title">Reservation Success</h1>


    <div class="card">
      <p>Your reservation has been successfully submitted.</p>
      <h2>Reservation Details:</h2>
      <p><strong>Reservation Date:</strong> <span th:text="${reservationDate}">Date</span></p>
      <p><strong>Reservation Time:</strong> <span th:text="${reservationTime}">Time</span></p>
      <p><strong>Service Area:</strong> <span th:text="${expertServiceArea}">Service Area</span></p>
      <p><strong>Expert Name:</strong> <span th:text="${expertName}">Expert Name</span></p>
      <p><strong>Description:</strong> <span th:text="${description}">Description</span></p>


    </div>

  <div>
    <a href="/reservation/form">Modify your schedule</a>
    <a href="/">Back to home</a>
  </div>
</div>
</body>
</html>